{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>India's No. 1 Mock Test Plateform</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'web/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'web/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="{% static 'web/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'web/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'web/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'web/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'web/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'web/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'web/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Flexor - v4.1.0
  * Template URL: https://bootstrapmade.com/flexor-free-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@test2try.com">contact@test2try.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 9540 170 523</span></i>
      </div>

      <div class="cta d-none d-md-flex align-items-center">
        <a href="#" class="scrollto">Login</a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html"><img src="{% static 'web/assets/img/logo/logo.png' %}" size=200></a></h1>
        
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#">About</a></li>
          <li><a class="nav-link scrollto" href="#">Find Institute</a></li>
          <li><a class="nav-link scrollto " href="#">Study Material</a></li>
          <li><a class="nav-link scrollto" href="#">Contact</a></li>
          <li><a class="nav-link scrollto" href="#">Membership</a></li>
          <li><a href="#">News</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- ======= Hero Section ======= -->

  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
      <h1>Welcome to test 2 try</h1>
      <h2>You will focuse on your dream we will take care of your Prepration</h2>
      <div class="d-flex align-items-center">
        <i class="bx bxs-right-arrow-alt get-started-icon"></i>
        <a href="#" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-xl-4 col-lg-5" data-aos="fade-up">
            <div class="content">
              <h3>Notifications</h3>
              <marquee width="90%" direction="up" height="200px">
                <ul>
                    <li>NIOS Admit Cards Released</li> 
                    <li>JEE Advance 2021 to be held on July 03 </li>
                    <li>CBSE Board Exams 2021 dates declared </li>
                    <li>Beware of Fake JEE Website </li>
                    <li>BSEB students demand postponement of the Boards </li>
                    <li>CBSE AISSE CLASS X BOARD EXAM REVISED DATE SHEET 2021 </li>
                    <li>CBSE AISSE CLASS XII BOARD EXAM REVISED DATE SHEET 2021 </li>
              </ul>
            </marquee>
              <div class="text-center">
                <a href="#" class="more-btn">Get More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-7 d-flex">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Online Assignments</h4>
                    <p>test2try gives the students Homework, Assignments of their respective Programmes, assigned by the own institute, in an easy and user-friendly way.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Online Tests</h4>
                    <p>test2try gives the students Practice Tests – Topic-wise, Chapter-wise, etc. of their respective Programmes, assigned by your own FACULTY, in an easy and user-friendly way.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>List of Institute</h4>
                    <p>test2try gives best way to find your relavent institute in your location with online test program.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative" data-aos="fade-right">
            <img src="{%static 'web/assets/img/vertical-test2try.jpg'%}" width="100%">
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h4 data-aos="fade-up">About us</h4>
            <h3 data-aos="fade-up">Best Prepration Platform In Your Area</h3>
            <p data-aos="fade-up">test2try is a platform for virtually bringing the students and teachers on the same plane. test2try aim at nurturing talent by ensuring that no deserving talent remains untrained due to lack of prepration study materials.</p>

            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Digital Learning Solutions</a></h4>
              <p class="description">test2try unparalleled range of services helps you reach your full potential and achieve your dream of getting the best prepration.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Student Admin Panel</a></h4>
              <p class="description">Here the students can do Homework, Assignments and Practice Tests – Topic-wise, Chapter-wise, in an easy and user-friendly way.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Perfect Guidelines</a></h4>
              <p class="description">test2try will help you perfect guidelines to prepare your exam, assignments and Practice Tests on time and put in your best effort for scoring the Top Ranks in your Institute.</p>
            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Our Top Five Institutes</h2>
            <p>Best Ranked Institutes Listed here on the Basis of Area </p>
        </div>

        <div class="row">
          {% for Inst in Top5Institute%}
          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <div class="icon-box" style="height: 600px;">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">{{Inst.name}}</a></h4>
              <img src="{{Inst.image.url}}" style="width: 80%; height: 200px;">
              <p class="description">{{Inst.disp}}</p>
              <table class="table" style="font-size: 80%; text-align:left">
                  <tr>
                      <th>Address</th>
                      <td>{{Inst.Address}}</td>
                  <tr>
                  <tr>        
                      <th>No. of Teachers</th>
                      <td>{{Inst.Teachers}}</td>
                  </tr>
                  <tr>   
                      <th>Subjects</th>
                      <td>{{Inst.Subjects}}</td>
                  </tr>
                  <tr>    
                      <th>Contact Number</th>
                      <td>{{Inst.Mobile}}</td>
                  </tr>
                  <tr>    
                      <th>No. of Students</th>
                      <td>{{Inst.ListStudent}}</td>
                  </tr>
                  <tr>    
                      <th>Batch Time</th>
                      <td>{{Inst.Time}}</td>
                  </tr>
                  <tr>    
                    <th>No. of Batchs</th>
                    <td>{{Inst.Batchs}}</td>
                </tr>
              </table>
            </div>
          </div>
          {%endfor%}
      </div>
    </section><!-- End Services Section -->

   

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-up">F.A.Q</h2>
          <p data-aos="fade-up">Please read carefully and make your doubt clear.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">How can i give my test online? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <ol>
                    <li>visit URL http://test2try.com/</li>
                    <li>Select your instition under test2try platform.</li>
                    <li>use your id and password provided by in your institution.</li>
                    <li>You can attempt test from your institution package under “Your Institution”.</li>
                </ol>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Where will i find my test ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                    To nevigate to you test you need to go to institution portal Under “pakages”
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">How I Give My test? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                    Under your institution you will find your. You need to click “Attempt” to start giving your test.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">What is the time to attempt the onlline test series?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                    Timing to each test is giving by your Institution.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">What is the duration of the test? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                    Test duration as per your selected course.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Will I get extra time if my test will time over? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    No, you will not get any extra time if a test is interrupted in between. So prepare yourself before the test.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Can I download a test paper?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Yes, you can download test papers in PDF format adter you attempt the test.
                  </p>
                </div>
              </li>

          </ul>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-up">Contact</h2>
          <p data-aos="fade-up">Please Feel Free To Contact </p>
        </div>

        <div class="row justify-content-center">

          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>49G, Mayur Vihar Phase-3, East Delhi, Delhi, 110096</p>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>info@test2try.com<br>contact@test2try.com</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+91 9142 593 757<br>+91 7903 239 426</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>test2try</h3>
            <p>
                49G, Mayur Vihar Phase-3,<br>
                 East Delhi, Delhi,<br>
                  110096<br>
              <strong>Phone:</strong> +91 7903 239 426<br>
              <strong>Email:</strong> info@test2try.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Find Institute</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Study Material</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Membership</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">News</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Please enter your email id for get updated information/p>
            <form action="#">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-lg-flex py-4">

      <div class="me-lg-auto text-center text-lg-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Webteeq</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-lg-right pt-3 pt-lg-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'web/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'web/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'web/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'web/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'web/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'web/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'web/assets/js/main.js' %}"></script>

</body>

</html>